<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Error 500</title>
</head>
<body>
<h1 style="color:red; font-size: 50px; text-align: center;">ERROR 500</h1>
<p style="text-align: center;" th:text="'Error: ' + ${error}"></p>
<p style="text-align: center;" th:text="'Status: ' + ${status}"></p>
<p style="text-align: center;" th:text="'Timestamp: ' + ${timestamp}"></p>
<p style="text-align: center;" th:text="'Message: ' + ${message}"></p>
</body>
</html>