<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<!-- Hoja de estilos de bootstrap enlazada vía CDN-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
</head>
<body>
	<!-- Navigation bar bootstrap -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/home}">Inicio</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/libro/all}">Lista de libros</a></li>
						<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/usuario/all}">Lista de usuarios</a></li>

				</ul>
			</div>
		</div>
	</nav>

<img th:src="@{/image/1722.jpg}" style="width: 200px;"></img>
<h1 th:text="${tituloH1}"></h1>
<p th:text="${parrafo}"></p>
</body>
</html>